@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
    color: white;
}
.drawer-side a{
   background-color: transparent;
}

.light-mode{
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  